@page "/"

<style>
    .list-group-item {
        transition: background-color linear 2s;
    }
</style>

<div class="row">
    <div class="col-5">
        <button onclick="@this.TryRemoveFirst">remove first (Razor Components: unexpected animations)</button>
    </div>
    <div class="col-5">
        <button onclick="var node = document.getElementById('container').children[0]; node.parentNode.removeChild(node);">remove first (pure Javascript: no animations)</button>
    </div>
    <div class="col-2">
        @this.items.Count
    </div>
</div>

<div class="list-group" id="container">
    @foreach ( var (id, color) in items )
    {
        <div id="item-@id" class="list-group-item" style="background-color: @color">
            @id  : @color
        </div>
    }
</div>

@functions
{
    private readonly Dictionary<int, string> items = Enumerable.Range(1, 20).ToDictionary(i => i, i => i > 10 ? "red" : "green");

    private void TryRemoveFirst()
    {
        if ( this.items.Count == 0 )
            return;
        var firstId = this.items.Keys.First();
        this.items.Remove(firstId);
    }
}